<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <title><%= _.capitalize(projectName) %></title>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="<%= _.slugify(projectName) %>"></div>
  <!-- game loader-->
  <script src="game/main.js"></script>  
  <!-- game states -->
  <script src="game/states/boot.js"></script>
  <script src="game/states/preload.js"></script>
  <script src="game/states/menu.js"></script>
  <script src="game/states/play.js"></script>
  <script src="game/states/gameover.js"></script>
  <script src="bower_components/phaser-official/build/phaser.js"></script>
</body>
</html>